body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000166;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.channel-list {
    width: 30%;
    padding: 20px;
    background-color: #f7f7f7;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

.channel-list h2 {
    margin-bottom: 10px;
}

.channel-list ul {
    list-style-type: none;
    padding: 0;
}

.channel-list ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.channel-list ul li:hover {
    background-color: #eee;
}

.player {
    width: 70%;
    padding: 20px;
}

.player video {
    width: 100%;
    height: 100%;
}

